.container {
    background-color: white;
    height: 190pt;
    width: 250pt;
    border-radius: 5pt;
    margin: 1% 8pt 1% 0%;
    border-color:rgb(226, 220, 220);
    border-width: 1pt;
    border-style: inset;
    float: left;
}
.div {
    float: left;
}
#boxes {
    display: table;
    clear: both;
}
#col1 {
    width: auto;
}

#col2 {
    width: 80%; 
}

.example-card {
    float :left;
    list-style: none;
    outline: black;
    float: left;
    background-color : white;
    margin-left: 15px;
    height: 100pt;
    width: 250pt;
    border-radius: 5pt;
    margin: 2% 2% 2% 2%;}

.example-header-image {
  background-size: cover;
  border-radius: 50%; 
  width: 80%; 
  margin-top: 0pt;
}