.header {
    background-image: url("images/Aboutus.jpeg");

    min-height: 450px;
  
    /* Center and scale the image nicely */
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
    margin-top: 0px;

    text-align: left;    
    color: aliceblue;
}

.header-content {
  margin-left: 10%;
  margin-right: 10%;
  padding: 22% 0% 0% 0%;
  font-size: 50px;

}

p {
}

