<mat-card style="float: right; width: 50%;" class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Update Company Information</mat-card-title>
    <mat-card-content>
        <form class="companyInfo-form">
            <mat-form-field appearance="fill" class="input-full-width" >
                <mat-label>Company Name</mat-label>
                <input matInput required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-full-width" >
                <mat-label>Company Information</mat-label>
                <input matInput placeholder="Summary about the Corporation">
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-full-width" >
                <mat-label>Company URL</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-full-width" >
                <mat-label>Upload Company Logo</mat-label>
                <input matInput>
            </mat-form-field>

                <button style="text-align: centre;" mat-raised-button>Update</button>


        </form>
    </mat-card-content>
</mat-card>

